.App {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  height: 50vh;
  margin: 2rem auto;
  box-shadow: 0 0 10px #999;
  padding: 2rem;
  border-radius: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  color: rgb(82, 5, 105);
  border: 1px solid #999;
  padding: 10px;
  width: 90%;
  text-align: center;
}

.greeting span {
  color: rgb(122, 50, 02);
  padding-left: 10px;
}

.btn {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(82, 5, 105);
  color: #fff;
  border: none;
  outline: none;
  max-width: 20rem;
}

.btn:hover {
  background-color: rgba(82, 5, 105, 0.9);
}
